.bar {
  @include theme(
    (
      background: bg-hi
    )
  );

  display: flex;
  align-items: center;
  padding: 8px;

  > img {
    width: 66px;
    height: 66px;
  }

  > .detail {
    margin-left: 8px;
  }
}
