@import 'ember-modal-dialog/ember-modal-structure';

:global(.ember-modal-overlay) {
  display: flex;
  align-items: center;
  justify-content: center;

  &:global(.translucent) {
    @function half-alpha($value) {
      @return color.scale($value, $alpha: -50%);
    }

    @include theme((background: bg meta.get-function('half-alpha')));
  }
}

/* stylelint-disable-next-line no-descending-specificity -- confused by :global */
:global(.ember-modal-wrapper) {
  &:global(.emd-static) {
    &:global(.emd-wrapper-target-attachment-center) {
      :global(.ember-modal-dialog) {
        top: unset;
        left: unset;
        transform: unset;
        max-width: 90vw;
      }
    }
  }
}
