// override defaults

body {
  @include theme((background: bg, color: pri), true);

  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  margin: 4px 0;
}

a {
  @include theme((color: link));

  cursor: pointer;
  text-decoration: none;
  touch-action: manipulation;
}

svg {
  display: inline-block;
  vertical-align: top;
}

button {
  @include theme((color: link));

  display: inline;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-size: 100%;

  &:disabled {
    opacity: 60%;
    cursor: not-allowed;
  }
}

// our common styles

:global(.title) {
  @include theme((color: emph));

  font-weight: bold;

  > a {
    @include theme((color: inherit));
  }
}

:global(.message) {
  @include theme((background: bg-hi, color: emph));

  padding: 0 8px;
  // hack to prevent margin collapsing: https://stackoverflow.com/questions/19718634/how-to-disable-margin-collapsing
  overflow: auto;

  > p {
    margin: 8px 0;
  }

  &:global(.invert) {
    @include theme((background: bg, color: pri));
  }
}
