<MenuBar />

{{#if session.down}}
  <AppDialog @title="NoUTube Down">
    <p>Sorry, NoUTube seems to be down, please wait a bit and try again.</p>
  </AppDialog>
{{/if}}

{{#if session.popupOpen}}
  <AppDialog @title="Signing In">
    <p>Please don't close this tab while signing in.</p>
  </AppDialog>
{{/if}}

{{outlet}}

<AppFooter />
