.dialog-overlay {
  @function half-alpha($value) {
    @return color.scale($value, $alpha: -50%);
  }

  @include theme(
    (
      background: bg meta.get-function('half-alpha')
    )
  );

  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 50;
  width: 100vw;
  height: 100vh;
}

.dialog {
  @include theme(
    (
      background: bg
    )
  );

  z-index: 51;
  border-radius: 8px;
  box-shadow: 0 0 64px $shadow;
  max-width: 90vw;

  > .top {
    @include theme(
      (
        background: bar,
        color: bg
      )
    );

    border-radius: 8px 8px 0 0;
    padding: 12px;
    font-weight: bold;
  }

  > .middle {
    padding: 0 12px;
    max-height: 60vh;
    overflow-y: auto;
  }

  > .bottom {
    @include theme(
      (
        background: bg-hi
      )
    );

    border-radius: 0 0 8px 8px;
    padding: 12px;
  }
}
