.dialog {
  @include theme((background: bg));
  border-radius: 8px;
  box-shadow: 0 0 64px $shadow;

  > .top {
    @include theme((background: bar, color: bg));
    border-radius: 8px 8px 0 0;
    padding: 12px;
    font-weight: bold;
  }

  > .middle {
    padding: 0 12px;
    max-height: 60vh;
    overflow-y: auto;
  }

  > .bottom {
    @include theme((background: bg-hi));
    border-radius: 0 0 8px 8px;
    padding: 12px;
  }
}
