<div class="swipeable-child" style={{this.style}}>
  <div class="swipeable-right">
    <SvgIcon @name={{this.iconRight}} />
  </div>
  <div class="swipeable-left">
    <SvgIcon @name={{this.iconLeft}} />
  </div>
  {{yield}}
</div>
