.player {
  position: fixed;
  right: 0;
  bottom: 0;

  > .top {
    @include theme((background: bar, color: bg));

    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-top-left-radius: 8px;
    padding: 8px;
    width: 0;
    min-width: 100%;

    > img {
      margin-right: 8px;
      width: 24px;
      height: 24px;
    }

    > .title {
      flex-grow: 1;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
    }

    > button {
      @include theme((color: inherit));

      margin-left: 8px;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  > :global(.EmberYoutube) {
    @include theme((background: bg));

    > iframe {
      display: block;
    }
  }
}
