.player {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  flex-direction: column;
  z-index: 48;

  > .top {
    @include theme((background: bar, color: bg));

    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-top-left-radius: 8px;
    padding: 8px;
    width: 0;
    min-width: 100%;

    > img {
      margin-right: 8px;
      width: 24px;
      height: 24px;
    }

    > button {
      @include theme((color: inherit));

      margin-right: 8px;
    }

    > .title {
      flex-grow: 1;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  > :global(.EmberYoutube) {
    @include theme((background: bg));

    height: 100%;

    > iframe {
      display: block;
    }
  }

  &.auto {
    // tweaked from https://stackoverflow.com/a/20593342/3453300
    width: 100%;
    max-width: math.div(16, 9) * 100vh;
    height: math.div(9, 16) * 100vw;
    max-height: 100vh;

    /* stylelint-disable-next-line selector-class-pattern */
    > :global(.EmberYoutube) {
      > iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  &:not(.auto) {
    /* stylelint-disable-next-line selector-class-pattern */
    > :global(.EmberYoutube) {
      > iframe {
        max-width: 100%;
        max-height: math.div(9, 16) * 100vw;
      }
    }
  }
}
