{{page-title "NoUTube"}}

<DialogContainer />

<Outdated />

<MenuBar />

{{yield}}

{{#if this.session.down}}
  <Dialog @title="NoUTube Down">
    <p>Sorry, NoUTube seems to be down, please wait a bit and try again.</p>
  </Dialog>
{{/if}}

<Footer />

<Player />
