.account {
  @include theme((background: bg-hi, color: emph));

  padding: 0 8px;
  overflow: auto;

  > h3 {
    margin: 24px 0 12px;
  }

  > .row {
    margin: 12px 0;
  }
}

.delete {
  > p {
    margin: 8px 0;
  }
}
