{{title "Privacy"}}

<SectionHeader @icon="lock">Privacy</SectionHeader>

<div class="message">
  <p>Your Google account's email address is stored for account management.</p>
  <p>Read-only access to your YouTube data is maintained only in order to keep your subscriptions in sync.</p>
  <p>Otherwise, the only data stored about you is which videos are currently in your feed.</p>
  {{#if this.session.me}}
    <p><button type="button" {{on "click" this.toggleDestroyMe}}>Click here to have your account and all related data deleted.</button></p>
  {{/if}}
</div>

{{#if this.showDestroyMe}}
  <AppDialog @title="Delete Account" @close={{this.toggleDestroyMe}} @accept={{this.destroyMe}}>
    <p>Are you sure?</p>
  </AppDialog>
{{/if}}
