.menu-bar {
  @include theme((background: bar, color: bg));

  position: absolute;
  top: 0;
  right: 0;

  &,
  > .extras-outer > .extras-inner {
    display: flex;
    align-items: center;

    > a,
    > button {
      @include theme((color: inherit));

      padding: 8px;
    }
  }
}
