.section-header {
  @include theme((background: bar, color: bg));

  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 47;
  margin: 0;
  padding: 0 16px 0 8px;
  min-height: 24px;
  font-size: 125%;
  font-weight: bold;

  > .chevron {
    @include theme((color: bg-hi));
  }

  > .icon {
    margin-left: 8px;

    &.after-back {
      margin-left: 4px;
    }
  }

  > .content {
    margin: 8px 16px 8px 8px;
  }
}
