.section-header {
  @include theme((background: bar, color: bg));

  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 47;
  margin: 0;
  padding: 8px 16px;
  min-height: 24px;
  font-size: 125%;
  font-weight: bold;

  > .icon {
    margin-right: 8px;
  }
}
