<div local-class="section-header">
  {{#if @backIcon}}
    <MenuBar::Button @onClick={{this.goBack}} @title="Back" @icon={{@backIcon}} />
    <SvgIcon local-class="chevron" @name="chevron-right" @size={{20}} />
  {{/if}}
  {{#if @icon}}
    <span local-class="icon">
      <SvgIcon @name={{@icon}} />
    </span>
  {{/if}}
  <span local-class="content">
    {{yield}}
  </span>
</div>
