{{#if this.revision.outdated}}
  <div local-class="outdated">
    <div local-class="content">
      A new version of NoUTube is available, please <a href="" {{on "click" this.refresh}}>refresh</a>.
    </div>
  </div>
{{/if}}
