<div local-class="channels-summary">
  <h3>Current List</h3>

  {{#each this.channelsSorted as |channel|}}
    <div local-class="channel">
      <img src={{channel.thumbnail}} alt={{channel.title}}>
      <div local-class="detail">
        <a rel="external noopener noreferrer" target="_blank" href="https://www.youtube.com/channel/{{channel.apiId}}">{{channel.title}}</a>
      </div>
    </div>
  {{/each}}
</div>
